<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a style="cursor: pointer" class="navbar-brand">Simply Cars</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="/home">Home</a>
      </li>
      <li class="dropdown" appDropdown routerLinkActive="active">
        <a style="cursor: pointer" class="dropdown-toggle" role="button"
          >Services<span class="caret"></span
        ></a>
        <ul class="dropdown-menu">
          <li routerLinkActive="active">
            <a style="cursor: pointer" routerLink="/customers">Customer</a>
          </li>
          <li>
            <a style="cursor: pointer" routerLink="/booking">Booking</a>
          </li>
        </ul>
      </li>
      <li *ngIf="Admin" routerLinkActive="active">
        <a routerLink="/admin">Manage Bookings</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a style="cursor: pointer" routerLink="/carDetails">Car Details</a>
      </li>
      <li>
        <a style="cursor: pointer" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> -->
