mat-form-field {
  margin: 10px;
}

.container {
  position: relative;
  height: 100vh;
  margin-top: 70px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

@media only screen and (max-width: 900px) {
  .container {
    margin: 100px auto;
    height: 700px;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    text-align: center;
    margin: 100px auto;
    height: 1150px;
  }
}
