.example-spacer {
  flex: 1 1 auto;
}

.toolbar {
  margin-top: 70px;
}

table {
  /* text-align: center; */
  width: 100%;
}

.mat-form-field {
  font-size: 10px;
  width: 100%;
}

td,
th {
  font-size: 9px;
  /* text-align: center; */
  width: 10%;
}

.mat-paginator {
  margin-bottom: 100px;
}
