.container {
  margin-top: 50px;
}

#divChart {
  display: block;
  height: 500px;
  width: 500px;
  bottom: 0;
}
* {
  margin: auto;
}

img {
  border-radius: 50px;
}

@media only screen and (max-width: 600px) {
  #divChart {
    display: block;
    height: 350px;
    width: 350px;
  }

  @media only screen and (max-width: 400px) {
    #divChart {
      display: block;
      height: 250px;
      width: 250px;
    }
  }
}
