<mat-toolbar color="primary" *ngIf="booking">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>booking</mat-icon>
  </button>
  <span>Booking Service</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openDialog()">Add+</button>
</mat-toolbar>

<div class="container" style="width: auto" *ngIf="booking">
  <div style="margin-top: 10px">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Mia"
        #input
      />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer Id</th>
          <td mat-cell *matCellDef="let row">
            {{ row.id }}
          </td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>username</th>
          <td mat-cell *matCellDef="let row">
            {{ row.username }}
          </td>
        </ng-container>

        <ng-container matColumnDef="bookingId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>bookingId</th>
          <td mat-cell *matCellDef="let row">{{ row.bookingId }}</td>
        </ng-container>

        <ng-container matColumnDef="bookingStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            bookingStatus
          </th>
          <td mat-cell *matCellDef="let row">
            <button class="btn btn-primary" disabled>
              {{ row.bookingStatus }}
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="firstname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>firstname</th>
          <td mat-cell *matCellDef="let row">{{ row.firstname }}</td>
        </ng-container>

        <ng-container matColumnDef="lastname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>lastname</th>
          <td mat-cell *matCellDef="let row">{{ row.lastname }}</td>
        </ng-container>

        <ng-container matColumnDef="noofPassangers">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            noofPassangers
          </th>
          <td mat-cell *matCellDef="let row">
            {{ +row.child + +row.adults }}
          </td>
        </ng-container>
        <ng-container matColumnDef="CarDetails">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>carDetails</th>
          <td mat-cell *matCellDef="let row">{{ row.CarDetails }}</td>
        </ng-container>

        <ng-container matColumnDef="modifiedname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            modifiedname
          </th>
          <td mat-cell *matCellDef="let row">{{ row.modifiedname }}</td>
        </ng-container>

        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>createdDate</th>
          <td mat-cell *matCellDef="let row">{{ row.createdDate | date }}</td>
        </ng-container>

        <ng-container matColumnDef="modifiedDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            modifiedDate
          </th>
          <td mat-cell *matCellDef="let row">{{ row.modifiedDate | date }}</td>
        </ng-container>

        <ng-container matColumnDef="createdname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>createdname</th>
          <td mat-cell *matCellDef="let row">{{ row.createdname }}</td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>action</th>
          <td mat-cell *matCellDef="let row; let index = index">
            <button
              mat-icon-button
              color="primary"
              (click)="editBooking(index)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="deleteBooking(index)" mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
          <td></td
        ></ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
