.example-spacer {
  flex: 1 1 auto;
}

.toolbar{
  margin-top: 70px;
}

table {
  text-align: center;
  width: 100%;
}

.mat-form-field {
  font-size: 10px;
  width: 100%;
}

td,
th {
  font-size: 9px;
  width: 10%;
}

mat-paginator {
  margin-bottom: 100px;
}

@media only screen and (max-width: 900px) {
  mat-toolbar {
    text-align: center;
    width: 1100px;
  }

  .mat-form-field {
    width: 1060px;
  }

  .mat-paginator {
    width: 1060px;
  }

  .container {
    width: 1100px !important;
  }
}
